.next-image-wrapper > span {
  height: 100%;
}

.icon {
  width: 5rem;
  height: 4rem;
}

input::placeholder {
  font-size: 1em;
  font-style: italic;
  padding-left: 0.6rem;
}

input[type="text"] {
  box-sizing: border-box;
  padding-left: 0.6rem;
}
